body {
  color: #2a2e37;
  background: #dac97e;
  text-align: center;
  font-family: 'Montserrat', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px; }
  body h1 {
    color: #2a2e37;
    margin-top: 10px;
    margin-bottom: 15px; }
  body h2 {
    color: #2a2e37;
    margin-top: 10px;
    margin-bottom: 10px; }
  body h3 {
    color: #2a2e37;
    margin-top: 10px;
    margin-bottom: 0px; }
  body p {
    color: #2a2e37;
    padding-right: 30px; }
  body ul {
    list-style-type: circle; }
  body a {
    text-decoration: underline; }
    body a:hover {
      color: #2a2e37; }
  body .circular--landscape {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%; }
  body .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px; }
