$background-color: rgb( 218, 201, 126);
$text-color: rgb( 42, 46, 55);

body {
  color: $text-color;
  background: $background-color;
  text-align: center;
  font-family: 'Montserrat', 'Arial', sans-serif;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  padding-left: 20px;

  h1 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  h2 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  h3 {
    color: $text-color;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  p {
    color: $text-color;
    padding-right: 30px;
  }

  ul {
      list-style-type: circle;
  }

  a {
    text-decoration: underline;
    &:hover {
      color: $text-color;
    }
  }

  .circular--landscape {
    display: inline-block;
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
    border-radius: 50%
  }

  .circular--landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
  }
}
